@charset "UTF-8";


h1 {
   display: inline; 
   height: 300px;
   width: 300px;
   background-color: grey;
   
   /* 
   border-width: 10px;
   border-style: solid;
   border-color: black;

   ordem: width -> style -> color; 
   */
   
   border: 10px solid black; 
   
   padding: 10px 10px 10px 10px;
   margin: 10px auto 10px auto;
   
   /* top light bottom left */
   
   /* outline-width: 5px;
   outline-style: solid;
   outline-color: green; */

   outline: 5px solid yellow;
   
}

a {
    display: block;
    border-width: 10px;
    border-style: solid;
    border-color: darkred;
    
}

