@charset "UFT-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #f2dbf7, #d2b1f3);
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #62378c69;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #4E518D;
    text-align: center;
    text-shadow: 1px 1px 2px #2a2c4d53;
}

h2 {
    color: #448A79;
}

p {
    text-align: justify;
}




