@charset "UTF-8";

/* 
id    = #
class = .
*/

/* 
Não posso colocar mais de um id em um mesmo documento.
Posso colocar um id e uma class no mesmo elemento.
O id se sobrepõe a class.
Posso colocar duas class num mesmo elemento.
Caso eu tenha duas class iguais em tipos de tags distintas, posso diferencialas no css começando o seletor com a tag específica.
*/
body {
    background-color: rgb(189, 245, 189);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(19, 35, 19);
    
}

h1#principal {
    background-color: rgb(44, 79, 44);
    color: white;

}

h2 {
    color: rgb(7, 87, 7);
}

.basico {
    color: rgb(7, 87, 7);
}

.intermediario {
    color: rgb(87, 80, 7);
}

h2.avancado {
    color: rgb(87, 7, 7);
    font-weight: bold;
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgba(255, 255, 255, 0.521);
}

